*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    font-style: italic;
    background-color: #fff7f7;
}

body{
    background-color: #f7f7f7;
}

.name{
    width: 5em;
    margin: 0.8em 0.8em;
}

.introduction{
    margin: 0.8em 0.8em;
}

.SocialMedia{
    margin: 0.8em 0.8em;
}

a{
    text-decoration: none;
    color:#204969;
}